%h1
	= @user.name
%br
%h2
	= @user.about
%p
	= @user.total_score
%br

= image_tag @user.user_photow.url

Your life time score
= @attempts.sum(:attempt_score)
%br
this years score
= @attempts.this_year.sum(:attempt_score)
%br
this months score
= @attempts.this_month.sum(:attempt_score)
%br
this weeks score
= @attempts.this_week.sum(:attempt_score)
%br
todays score
= @attempts.this_day.sum(:attempt_score)



