.container
	.col-sm-4.col-xs-6 
		%h1
			= @user.name
		%br
		= image_tag @user.user_photo.url ,:style => "max-width: 100%"
		%h2
			= @user.about
		%p
			= @user.total_score
		%br
			

	.col-sm-4.col-xs-6 
		%h2 scores
		Your life time score
		= @attempts.sum(:attempt_score)
		%br
		this years score
		= @attempts.this_year.sum(:attempt_score)
		%br
		this months score
		= @attempts.this_month.sum(:attempt_score)
		%br
		this weeks score
		= @attempts.this_week.sum(:attempt_score)
		%br
		todays score
		= @attempts.this_day.sum(:attempt_score)


	%br
	=link_to "add an attempt", new_attempt_path
	%table.table-bordered
		%th date
		%th attempt score
		%th notes
		%th route name
		%th route grade

		 
		- @attempts.each do |f|
			%tr
				%td
					=formatted_date(f.date_attempted)
				%td
					=f.attempt_score
				%td
					=f.notes
				%td
					-if f.route
						=f.route.name
					-else
						route not found
				%td
					-if f.route
						/ =f.route.grade_format(f.route.grade,f.route.modifier)
						V
						= f.route.grade
						= f.route.modifier
					-else
						grade not found



