= form_for @new_attempt, url: attempts_path do |f|
	User:
	= f.select :user_id, User.all.collect {|u| [u.name, u.id]}
	= f.label :date_attempted
	= f.date_field :date_attempted
	Route
	= f.select :route_id, Route.all.collect {|u| ["#{u.name}, #{grade_format(u.grade,u.modifier)}", u.id]}


	=f.label :flash
	=f.check_box :flash

	=f.label :completed
	=f.check_box :completed

	=f.label :notes
	=f.text_area :notes

	=f.submit

