= f.label :name
%br
= f.text_field :name
%br
= f.label :description
%br
= f.text_area :description
%br
= f.label :camping
= f.check_box :camping
%br
= f.label :rock_type
= f.text_field :rock_type
%br
Location
= f.text_area :area
%br
= f.submit


