<!DOCTYPE html>
<html>
<head>
  <title>RockClimbing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= nav_bar :float => :top, :brand => "RockClimber", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Menu" do %>
            <%= menu_item "Routes", routes_path %>
            <%= menu_item "Location", locations_path %>
            <%= menu_item "Attempts", attempts_path %>
            <%= menu_item "Users", users_path %>
          
        <% end %>
        	<%if current_user %>
        		<%= menu_item "Currently logged in as #{show_name(session[:user_id])}" %>
        		<% end %>
    <% end %>
    <%= menu_group :pull => :right do %>
        <% if current_user %>
            <%= menu_item "Log Out", logout_path %>
        <% else %>
            <%= menu_item "Log In", login_path %>
        <% end %>
    <% end %>
<% end %>




<%= yield %>

</body>
</html>
